.facility{
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    background-color: #e3eaeb;
    font-size: smaller;
    font-family: sans-serif;
}

.facility-heading{
    font-style: oblique;
    font-family: unset;
    font-weight: 700;
    font-size: large;
}

.head{
   
    background-color:#29338d;
    font-size: x-large;
}